{% extends 'base.html' %}
{% block content %}
<div class="container-main">
  <h1>Change Password</h1>
  <div class="container-form">
    <form method="POST" class="form-signin form-grid">
      {% csrf_token %}
      <label class="grid-label" for="new_password1">New password</label>
      <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
      <label class="grid-label" for="new_password2">Confirm password</label>
      <input name="new_password2" class="form-control" placeholder="Confirm New password" type="password" id="id_new_password2" required="true">
      <button class="order-btn-filled" type="submit">Update</button>  
    </form>
    <div class="container-errors">
      {% for field in form %}
        {% for error in field.errors %}
          <p style="color: #e44e44">{{ error }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}