{% extends 'base.html' %}
{% block content %}
<div id="password-reset-form-page" class="container-main">
  <h1>Reset password</h1>
  <p>Enter the email registered with the account</p>
  <a href="{% url 'account' %}" class="text-btn negative-btn" alt="cancel button"><i class="fas fa-times"></i>Cancel</a>
  <div class="container-form">
    <form method="POST" class="form-signin form-grid">
      {% csrf_token %}
      <label class="grid-label" for="email">Email</label>
      <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
        <button class="order-btn-filled" type="submit">Submit Request</button>
    </form>
  </div>
</div>
{% endblock %}