{% extends 'base.html' %}
{% block content %}
<div id="password-change-page" class="container-main">
  <h1>Change password</h1>
  <a href="{% url 'account' %}" class="text-btn negative-btn" alt="cancel button"><i class="fas fa-times"></i>Cancel</a>
  <div class="container-form">
    <form method="POST" class="form-signin form-grid">
      {% csrf_token %}
      <label class="grid-label" for="old_password">Old Password</label>
      <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
      <label class="grid-label" for="new_password1">New Password</label>
      <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
      <label class="grid-label" for="new_password2">Confirm New Password</label>
      <input name="new_password2" class="form-control" placeholder="Confirm new password" type="password" id="id_new_password2" required="true">
      <button class="order-btn-filled" type="submit">Update</button>  
      <a class="text-btn forgot-password" href="{% url 'password_reset' %}">Forgot password?</a>
    </form>
    <div class="container-errors">
      {% for field in form %}
        {% for error in field.errors %}
          <p style="color: #e44e44">{{ error }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}