{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-main">
  <h1>Account Information</h1>
  <a class="account-btn" href="{% url 'custom_user_edit' %}"><i class="fas fa-edit"></i>Edit</a>
  <a class="account-btn" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Log Out</a>
  <div class="container-info .account-info">
    <div class="container-account-section">
      <div class="account-details">
        <p class="account-label">Company:<p>
        <p class="account-data">{{ user.company_name }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">HST #:</p>
        <p class="account-data">{{ user.hst_number }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">First Name:</p>
        <p class="account-data"> {{ user.first_name }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">Last Name:</p>
        <p class="account-data"> {{ user.last_name }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">Email: </p>
        <p class="account-data">{{ user.email }}</p>
      </div>  
      <div class="account-details" >
        <p class="account-label">Business Phone: </p>
        <p class="account-data">{{ user.business_phone }}</p>
      </div>
    </div>
    <div class="container-account-section">
      <div class="account-details" >
        <p class="account-label">Address: </p>
        <p class="account-data">{{ user.address }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">City:</p>
        <p class="account-data"> {{ user.city }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">Province: </p>
        <p class="account-data">{{ user.province_iso }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">Postal Code: </p>
        <p class="account-data">{{ user.postal_code }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">Country:
        <p class="account-data"> {{ user.country_iso }}</p>
      </div>
      <div class="account-details" >
        <p class="account-label">Date Joined:</p>
        <p class="account-data" id="date-joined"> {{ user.date_joined }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-main">
  <h2 class="title-account">Previous Orders</h2>
  {% for cart in page_obj %}
    <div class="container-account-order">
      <div>
        <a class="order-num" href="{% url 'order_detail' cart.id %}">Order # {{ cart.id }}</a>
        <p class="order-status"
          {% if cart.status == cart.Status.IN_PROGRESS %} 
          style="color: #1b66bb"
          {% elif cart.status == cart.Status.CANCELLED  %}
          style="color: #e44e44"
          {% elif cart.status == cart.Status.FULFILLED  %}
          style="color: #509553"
          {% endif %}
        >{{ cart.get_status_display }}
        </p>
      </div>
      <div class="order-info">
        <p class="account-ordered-at"><span class="order-label">Ordered: </span>{{ cart.ordered_at }}</p>
        <p><span class="order-label">Total: </span>${{ cart.get_total|intcomma }}</p>
      </div>
      <a class="order-btn" href="{% url 'order_detail' cart.id %}">View Order</a>
    </div>
    {% endfor %}
    <!-- ───────────────────────────────────────────────────────────────── -->
    <div class="container-pagination">
      <!-- 'Previous' button -->
      {% if page_obj.has_previous %}
        <a class="page-btn" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
      {% else %}
        <a class="page-btn-inactive"><i class="fas fa-arrow-left"></i></a>
      {% endif %}
      <!-- First page -->
      <a href="?page=1">
        {% if page_obj.number == 1 %}
        <a class="page-btn current-page-num" href="?page=1">1</a>
        {% else %}
          <a class="page-btn" href="?page=1">1</a>
        {% endif %}
      </a>
      {% if page_obj.number > 5 %}
        <span>...</span>
      {% endif %}
      {% if num == page_obj.number|add:'5'  %}
        <span>...</span>
      {% endif %}
      <!-- Middle pages always display 7 pages at most -->
      {% for num in page_obj.paginator.page_range %}
        {% if num != 1 and num != page_obj.paginator.num_pages %}
          {% if page_obj.number == num %}
            <a class="page-btn current-page-num" href="?page={{ num }}">{{ num }}</a>
          {% elif num < 9 and num > page_obj.number|add:'-4' %}
            <a class="page-btn" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.paginator.num_pages|add:'-8' and page_obj.number > page_obj.paginator.num_pages|add:'-5' %}
            <a class="page-btn" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
            <a class="page-btn" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
        <span>...</span>
      {% endif %}
      <!-- Last page -->
      <a class='page-num' href="?page={{ page_obj.paginator.num_pages }}">
        {% if page_obj.number == page_obj.paginator.num_pages %}
          <a class="page-btn current-page-num" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% else %}
          <a class="page-btn" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
      </a>
      <!-- 'Next' button -->
      {% if page_obj.has_next %}
        <a class="page-btn" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
      {% else %}
        <a class="page-btn-inactive"><i class="fas fa-arrow-right"></i></a>
      {% endif %}
    </div>
    <!-- ───────────────────────────────────────────────────────────────── -->
  </div>
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}