{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
  <h1>Account Information</h1>
  <div>
    <p>Company Name: {{ user.company_name }}</p>
    <p>HST #: {{ user.hst_number }}</p>
    <p>Discount: {{ user.discount_ratio }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>eMail: {{ user.email }}</p>
    <p>Bus. Phone: {{ user.business_phone }}</p>
    <p>Address: {{ user.address }}</p>
    <p>City: {{ user.city }}</p>
    <p>Province: {{ user.province_iso }}</p>
    <p>Postal Code: {{ user.postal_code }}</p>
    <p>Country: {{ user.country_iso }}</p>
    <p>Date Joined: {{ user.date_joined }}</p>
  </div>
</div>

<div>
  <div>
    <p>Order #: {{  }}</p>
    <p>Date Placed:</p>
    <p>Total Cost:</p>
    <p>Current Status:</p>
    <button>View Invoice</button>
    <button>Cancel Order</button>
  </div>
</div>
{% endblock %}



