{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  Essential META Tags for social media -->
  <meta property="og:title" content="Road Star Tire">
  <meta property="og:description" content="We provide tires for your business needs"> <!--- NEED TAGLINE FROM CLIENT --->
  <meta property="og:image" content="#"> <!--  NEED PHOTO FROM CLIENT -->
  <meta property="og:url" content="Alt text for image"> <!--  ADD ALT TEXT TO CONTENT -->
  <meta name="twitter:card" content="summary_large_image">
  <!--  Non-Essential, But Recommended -->
  <meta property="og:site_name" content="Road Star Tire">
  <meta name="twitter:image:alt" content="Alt text for image"> <!--  ADD ALT TEXT TO CONTENT -->

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;750;800;900&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/7344249496.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Road Star Tire</title>
</head>
<body>
  <nav class='navbar navbar-expand-md d-flex justify-content-between'>
    <!-- Navbar brand -->
    <a class="navbar-brand" href={% url 'home' %}>
      <img class="nav-brand-image" src="../static/images/road-star-logo.png" alt="Road Star Tires logo">
      ROAD STAR TIRE 
      WHOLESALE
    </a>
    <!-- Navbar links -->
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="nav-admin" href='{% url 'admin:login' %}'></i>Admin</a> <!-- Do not include in production -->
      <a class="nav-item nav-link" id="nav-tires" href={% url 'tire_list' %}></i>Tires</a>
      <a class="nav-item nav-link" id="nav-services" href={% url 'services' %}></i>Services</a>
      <a class="nav-item nav-link" id="nav-about" href={% url 'about' %}></i>About</a>
      <a class="nav-item nav-link" id="nav-login" href={% url 'login' %}></i>Log in</a> <!-- SEPARATE PAGE FOR NOW, WILL COMBINE WITH SIGN UP -->
      <a class="nav-item nav-link" id="nav-signup" href={% url 'signup' %}></i>Sign Up</a>
      <a class="nav-item nav-link" id="nav-cart-detail" href={% url 'cart_detail' %}>
        <i class="fas fa-shopping-cart"></i>
      </a>
    <div>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>  
</body>
</html>