{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/7344249496.js" crossorigin="anonymous"></script>
  <title>RoadStarTire</title>
</head>
<body>
  <nav class='navbar navbar-expand-lg navbar-light'>
    <ul class="nav-links">
      <li>
        <a href="#"><i class="far fa-address-book"></i>Friends</a>
      </li>
      <li>
        <a href="#"><i class="far fa-user"></i></i>{{ user }}</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-cog"></i>Settings</a>
      </li>
    </ul>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>