{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/7344249496.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>RoadStarTire</title>
</head>
<body>
  <nav class='navbar navbar-dark bg-dark'>
    <ul class="nav-links">
      <a href="#"></i>Services</a>
      <a href="#"></i>Tires</a>
      <a href="#"></i>Locations</a>
      <a href="#"></i>About</a>
      <a href="#"></i>Log In</a>
      <a href="#"></i>Sign Up</a>
    </ul>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>