{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-main">
  <div class="container-order">
    <div class="container-contact">
      <div>
        <h2>CONCORD</h2>
        <p>(905) 660-3209</p>
        <p>(905) 660-2772</p>
      </div>
      <div class="hours-address">
        <div class="">
          <p><span class="order-label">Hours:</span></p> 
          <p>9:30am - 7:30pm</p>
          <p>7 days/wk</p>
        </div>
        <div class="">
          <p><span class="order-label">Address:</span></p> 
          <p>140 Doughton Road Unit 2</p>
          <p>Concord, ON</p> 
          <p>L4K 1R3</p>
        </div>
      </div> 
    </div>
    <div class="container-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.0242963969176!2d-79.52181618449768!3d43.793108879116886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2fd843719c53%3A0x742b47ab3b9f84f1!2sRoadstar%20Tire%20Wholesale!5e0!3m2!1sen!2sca!4v1594236206639!5m2!1sen!2sca" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
{% endblock %}