{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="custom-user-edit-form-modal" class="container-main">
  <h1>Edit Profile</h1>
  <a href="{% url 'account' %}" class="text-btn negative-btn" alt="cancel button"><i class="fas fa-times"></i>Cancel</a>
  <div class="container-form" >
    <form id="account-save" action="." method="POST" class="form-signin form-grid"> 
      {% csrf_token %}
      {% for field in form %}
      <div class="fieldWrapper">
        {{ field.label_tag }}
      </div>
      <div>
        {{ field }}
      </div>
      {% if field.errors %}
        <div class="form-grid-span">
          {{ field.errors }}
        </div>
      {% endif %}
      {% if field.help_text %}
        <div class="form-grid-span">{{ field.help_text|safe }}</div>
      {% endif %}
    {% endfor %}
      <a href="#" class="order-btn-filled" id="btn-save" alt="save button">Save</a>
      <div class="popup" id="popup-edit-confirm" style="display: none">
        <div class="popup-copy" style="border-radius: 8px; margin: 100px auto;">
          <p><strong>PLEASE NOTE</strong></p>
          <p>Editing profile information will temporarily inactivate your account until a staff member validates your changes.</p>
          <p>This means <em>you will be logged out and will not be able to place orders</em> until then. If it is urgent, please call us at (905)-660-3209.</p>
          <a href="#" class="text-btn negative-btn" id="close" alt="cancel button">Cancel</a>
          <a href="#" class="text-btn" onClick="document.forms['account-save'].submit();">Continue</a>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="{% static 'js/user_edit_popup.js' %}"></script>
{% endblock %}