{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-home" id="hero-1">
  <div class="hero-1-banner">
    <h4 class="hero-title">We know tires.</h4>
  </div>
</div>
<div class="container-home" id="hero-2">
  <h1 class="hero-title">Amazing selection</h1>
</div>
<div class="container-home" id="hero-3">
  <h1 class="hero-title">Reliable service</h1>
</div>
<div class="container-home" id='hero-4'>
  <h2 class="hero-title">Create a free account and place your order today!</h2>
  <button type="button" class="order-btn">Sign Up</button>
</div>
{% endblock %}