{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-main">
  <h1>Sign Up</h1>
  <div class="container-info">
    <div class="container-left">
      <form class="form-signin form-grid" id="signup-form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          {{ field.label }}
        </div>
        <div>
          {{ field }}
        </div>
        {% if field.errors %}
          <div class="field-error">
            {{ field.errors }}
          </div>
        {% endif %}
        {% if field.help_text %}
          <div class="field-error">{{ field.help_text|safe }}</div>
        {% endif %}
      {% endfor %}
          <button class="order-btn-filled" type="submit">SIGN UP</button>  
      </form>
    </div>
    <div class="container-right">
      <h2>Have an account?</h2> 
      <p>Click here to log in to your personalized member account.</p>
      </br>
      <a href="{% url 'login' %}" class="order-btn" alt="log in button">Log In</a>
    </div>
  </div>
</div>
{% endblock %}