{% extends 'base.html' %} {% load static %} {% block content %}
<div id="signup-page" class="container-main">
  <h1>Sign Up</h1>
  <div class="container-info">
    <div class="container-left">
      <form class="form-signin form-grid" id="signup-form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        {% for field in form %}
        <label>{{ field.label }}</label>
          {{ field }}
        {% if field.errors %}
          <div class="form-grid-span">
            {{ field.errors }}
          </div>
        {% endif %}
        {% if field.help_text %}
          <div class="form-grid-span">{{ field.help_text|safe }}</div>
        {% endif %}
      {% endfor %}
          <button class="order-btn-filled" type="submit">SIGN UP</button>  
      </form>
    </div>
    <div class="container-right">
      <h2>Already have an account?</h2> 
      </br>
      <a href="{% url 'login' %}" class="order-btn" alt="log in button">Log In</a>
    </div>
  </div>
</div>
{% endblock %}