{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-main">
  <h1>Sign Up</h1>
  <div class="container-info">
    <div class="container-left">
      <form id="signup-form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
          {{ form.as_p }}
          <a href="#" onClick="document.forms['signup-form'].submit();" class="order-btn" alt="sign up button">Sign up</a></td>
      </form>
    </div>
    <div class="container-right">
      <h2>Have an account?</h2> 
      <p>Click here to log in to your personalized member account.</p>
      <a href="{% url 'login' %}" class="account-btn" alt="log in button"><i class="fas fa-sign-in-alt"></i>Log In</a>
    </div>
  </div>
</div>



{% endblock %}
