{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-main">
  <h2>{{ tire.name }}</h2>
  <div class="container-info">
    <div class="container-item">
      <img src='{{ tire.tread.image_set.first.url }}' alt='tire image' class='tire-detail-thumbnail-image'/>
      <div class="item-tire">
        <p><span class="cart-label">Brand:</span> {{ tire.brand }}</p>
        <p><span class="cart-label">size:</span> {{ tire.width }}/{{ tire.aspect_ratio }}/{{ tire.rim_size }}</p>
        <!-- <p><span class="cart-label">Width:</span> {{ tire.width }}</p> -->
        <!-- <p><span class="cart-label">Aspect Ratio:</span> {{ tire.aspect_ratio }}</p> -->
        <!-- <p><span class="cart-label">Rim Size:</span> {{ tire.rim_size }}</p> -->
        <p><span class="cart-label">Type:</span> {{ tire.tire_type }}</p>
        <p><span class="cart-label">Pattern:</span> {{ tire.pattern }}</p>
        <p><span class="cart-label">Load/Speed:</span> {{ tire.load_speed }}</p>
      </div>
    </div>
    <div class="container-qty">
      <h2 class="tire-price">${{tire.relevant_price|intcomma}}</h2>
      <div class="stock">
        {% if tire.product.current_quantity < 20 %}
        <p class="low-stock">
          Call for availability
        </p>
        {% else %}
        <p class="in-stock">
          <span>{{ tire.product.current_quantity }}</span> Available
        </p>
        {% endif %}
      </div>
      <form id="add-tire" method="post" action="{% url 'tire_detail' tire.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="#" class="order-btn-filled">
          <div class="pre-text">
            <i class="fas fa-cart-plus"></i>
              Add to cart
          </div>
          <div class="pre-text-done">
            <div class="post-text">
              <i class="fas fa-check"></i>
              Added
            </div>
          </div>
        </a>
      </form>
      <br/>
      <br/>
      <!-- <p><span class="cart-label">Availability:</span> 
        {% if tire.product.current_quantity < 20 %}
          Low stock
        {% else %}
          In stock
        {% endif %}
      </p> -->
      </div>
    </div>
  </div>  
</div>

<script>
  const button = document.querySelector('#add-tire').getElementsByClassName('order-btn-filled')[0];
  button.addEventListener('click', e => {
    console.log('clicked')
    const done = e.target.querySelector('.pre-text-done');
    done.style.transform = "translate(0px)";
    setTimeout(()=>{
      done.style.transform = "translate(-110%) skew(-40deg)";
    },1200);
    setTimeout(()=>{
      document.forms['add-tire'].submit()
    }, 1300);
  })
</script>
{% endblock %}