{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-main">
  <h2>Tires</h2>

  <form class="" method="get" action="{% url 'tire_list' %}">
    <input name="width" id="id_q" type="text" class="form-control" placeholder="width" />
    <input name="rim_size" id="id_q" type="text" class="form-control" placeholder="rim size" />
    <input name="aspect_ratio" id="id_q" type="text" class="form-control" placeholder="aspect raio" />
    <input name="brand" id="id_q" type="text" class="form-control" placeholder="brand" />
    <input name="season" id="id_q" type="text" class="form-control" placeholder="season" />
    <button type="submit">Search</button>
  </form>

  {% if page_obj.number %}
    <div class="container-pagination">
      <!-- 'Previous' button -->
      {% if page_obj.has_previous %}
        <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
      {% else %}
        <a class="page-btn-inactive"><i class="fas fa-arrow-left"></i></a>
      {% endif %}
      <!-- First page -->
        <a href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page=1">
          {% if page_obj.number == 1 %}
            <a class="page-btn current-page-num" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page=1">1</a>
          {% else %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page=1">1</a>
          {% endif %}
        </a>
      {% if page_obj.number > 5 %}
        <span>...</span>
      {% endif %}
      {% if num == page_obj.number|add:'5' %}
        <span>...</span>
      {% endif %}
      <!-- Middle pages always display 7 pages at most -->
      {% for num in page_obj.paginator.page_range %}
        {% if num != 1 and num != page_obj.paginator.num_pages %}
          {% if page_obj.number == num %}
            <a class="page-btn current-page-num" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% elif num < 9 and num > page_obj.number|add:'-4' %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.paginator.num_pages|add:'-8' and page_obj.number > page_obj.paginator.num_pages|add:'-5' %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
        <span>...</span>
      {% endif %}
      <!-- Last page -->
      {% if page_obj.paginator.num_pages != 1 %}
      <a class='page-num' href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.paginator.num_pages }}">
        {% if page_obj.number == page_obj.paginator.num_pages %}
          <a class="page-btn current-page-num" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% else %}
          <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
      </a>
      {% endif %}
      <!-- 'Next' button -->
      {% if page_obj.has_next %}
        <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
      {% else %}
        <a class="page-btn-inactive"><i class="fas fa-arrow-right"></i></a>
      {% endif %}
    </div>
  {% endif %}

  {% for tire in page_obj %}
    <div class="container-order">
      <div class="container-item">
        <div class="image-tire">
          <img src='{{tire.image}}' alt='tire image' style="border: 1px solid lightgray; margin-right: .75rem; height: 150px;"/>
        </div>
        <div class="item-tire">
          <a class="tire-btn" href="{% url 'tire_detail' tire.id %}"><h2>{{ tire.name }}</h2></a>
          <p><span class="cart-label">Size:</span> {{tire.width}} / {{tire.aspect_ratio}} / {{tire.rim_size}}</p>
          <p><span class="cart-label">Category:</span> {{tire.season}}</p>
          <p><span class="cart-label">Pattern:</span> {{tire.pattern}}</p>
          <p><span class="cart-label">Load:</span> {{tire.load}}</p>
        </div>
      </div>
      <div class="container-qty">
        <p>
          <span class="cart-label">Price:</span>
          ${{tire.price}}
        </p>
      </div>
      <div class="container-price">
        <p><span class="cart-label">Availability:</span>
          {% if tire.current_quantity <= 20 %}
            limited quantity
          {% elif tire.current_quantity < 2 %}
            call for availability
          {% elif tire.current_quantity > 20 %}
            20+ Available
          {% endif %}
        </p>
        <form id="qty-update" method='POST' action="{% url 'tire_list' %}" >
          {% csrf_token %}
          <input type="number" value="1" min="1" name="quantity"/>
          <input type="hidden" value="{{ tire.id }}" name="id"/>
          <p><a class="account-btn" href="#"/><i class="fas fa-arrow-circle-right"></i><input id="submit-btn" type="submit" name="submit" value="Update" /></a></p>
        </form>
      </div>
    </div>
  {% endfor %}

  {% if page_obj.number %}
    <div class="container-pagination">
      <!-- 'Previous' button -->
      {% if page_obj.has_previous %}
        <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
      {% else %}
        <a class="page-btn-inactive"><i class="fas fa-arrow-left"></i></a>
      {% endif %}
      <!-- First page -->
        <a href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page=1">
          {% if page_obj.number == 1 %}
            <a class="page-btn current-page-num" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page=1">1</a>
          {% else %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page=1">1</a>
          {% endif %}
        </a>
      {% if page_obj.number > 5 %}
        <span>...</span>
      {% endif %}
      {% if num == page_obj.number|add:'5' %}
        <span>...</span>
      {% endif %}
      <!-- Middle pages always display 7 pages at most -->
      {% for num in page_obj.paginator.page_range %}
        {% if num != 1 and num != page_obj.paginator.num_pages %}
          {% if page_obj.number == num %}
            <a class="page-btn current-page-num" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% elif num < 9 and num > page_obj.number|add:'-4' %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.paginator.num_pages|add:'-8' and page_obj.number > page_obj.paginator.num_pages|add:'-5' %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
            <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
        <span>...</span>
      {% endif %}
      <!-- Last page -->
      {% if page_obj.paginator.num_pages != 1 %}
      <a class='page-num' href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.paginator.num_pages }}">
        {% if page_obj.number == page_obj.paginator.num_pages %}
          <a class="page-btn current-page-num" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% else %}
          <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
      </a>
      {% endif %}
      <!-- 'Next' button -->
      {% if page_obj.has_next %}
        <a class="page-btn" href="?width={{width}}&rim_size={{rim_size}}&aspect_ratio={{aspect_ratio}}&brand={{brand}}&season={{season}}&page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
      {% else %}
        <a class="page-btn-inactive"><i class="fas fa-arrow-right"></i></a>
      {% endif %}
    </div>
  {% endif %}
</div>

{% endblock %}