{% extends 'base.html' %}
{% load static %}
{% load tire_list_templates_extra %}

{% block content %}
<div id="tire-list-page" class="container-main">
  <h1>Shop Tires</h1>
  <p>Browse through our huge selection of tires</p>
  <div id="container-tire-search-forms" class="rounded-container">
    <!-- Detailed search -->
    <form id="tire-detailed-search" method="get" action="{% url 'tire_list' %}">
      <div id="container-tire-size-inputs">
        <input name="width" id="width-input" type="text" class="form-control" placeholder="Width"/>
        <input name="aspect_ratio" id="aspect-ratio-input" type="text" class="form-control " placeholder="Aspect ratio"/>
        <input name="rim_size" id="rim-size-input" type="text" class="form-control" placeholder="Rim size"/>
      </div>
      <div id="container-tire-brand-type-inputs">
        <input name="brand" id="brand-input" type="text" class="form-control" placeholder="Brand" />
        <input name="tire_type" id="type-input" type="text" class="form-control" placeholder="Type" />
      </div>
      <button class="order-btn-filled" type="submit">
        <i class="fas fa-search"></i>
        Detailed Search
      </button>
    </form>
    <div id="tire-search-separator">
      <div class="separator"></div>
      <h4 id="tire-search-separator-text">OR</h4>
      <div class="separator"></div>
    </div>
    <!-- Quick search -->
    <form id="tire-quick-search" method="get" action="{% url 'tire_list' %}">
      <input name="quick_search" id="id_q" type="text" class="form-control" placeholder="e.g. 215/55R/17"/>
      <button class="order-btn-filled" type="submit">
        <i class="fas fa-search"></i>
        Quick Search
      </button>
    </form>
  </div>
  {% if paginator.count == 0 %}
  <div class="no-search-results">
    <h2>Your search contained no results</h2>
    <p>Please try another search</p>
  </div>
  {% else %}
  <div>
    {% if page_obj.number %}
      <div class="sort-detail">
        {% if sort == 'width' %}
          <a class="text-btn" href="?{% url_replace request 'sort' '-width' %}"><i class="fas fa-sort-down"></i>Width</a>
        {% elif sort != 'width' %}
          <a class="text-btn" href="?{% url_replace request 'sort' 'width' %}"><i class="fas fa-sort-up"></i>Width</a>
        {% endif %}

        {% if sort == 'price' %}
          <a class="text-btn" href="?{% url_replace request 'sort' '-price' %}"><i class="fas fa-sort-down"></i>Price</a>
        {% elif sort != 'price' %}
          <a class="text-btn" href="?{% url_replace request 'sort' 'price' %}"><i class="fas fa-sort-up"></i>Price</a>
        {% endif %}
      </div>
      <div class="container-pagination">
        <!-- 'Previous' button -->
        {% if page_obj.has_previous %}
            <a class="page-btn" href="?{% url_replace request 'page' '{{ page_obj.previous_page_number }}' %}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
            <a class="page-btn-inactive"><i class="fas fa-arrow-left"></i></a>
          {% endif %}
          <!-- First page -->
            <a href="?{% url_replace request 'page' '1' %}">
              {% if page_obj.number == 1 %}
                <a class="page-btn current-page-num" href="?{% url_replace request 'page' '1' %}">1</a>
              {% else %}
                <a class="page-btn" href="?{% url_replace request 'page' '1' %}">1</a>
              {% endif %}
            </a>
          {% if page_obj.number > 5 %}
            <span>...</span>
          {% endif %}
          {% if num == page_obj.number|add:'5' %}
            <span>...</span>
          {% endif %}
          <!-- Middle pages always display 7 pages at most -->
          {% for num in page_obj.paginator.page_range %}
            {% if num != 1 and num != page_obj.paginator.num_pages %}
              {% if page_obj.number == num %}
                <a class="page-btn current-page-num" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% elif num < 9 and num > page_obj.number|add:'-4' %}
                <a class="page-btn" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% elif num > page_obj.paginator.num_pages|add:'-8' and page_obj.number > page_obj.paginator.num_pages|add:'-5' %}
                <a class="page-btn" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                <a class="page-btn" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
            <span>...</span>
          {% endif %}
          <!-- Last page -->
          {% if page_obj.paginator.num_pages != 1 %}
          <a class='page-num' href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">
            {% if page_obj.number == page_obj.paginator.num_pages %}
              <a class="page-btn current-page-num" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% else %}
              <a class="page-btn" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
          </a>
          {% endif %}
          <!-- 'Next' button -->
          {% if page_obj.has_next %}
            <a class="page-btn" href="?{% url_replace request 'page' page_obj.next_page_number %}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
            <a class="page-btn-inactive"><i class="fas fa-arrow-right"></i></a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <!-- Tire –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% for tire in page_obj %}
      <div class="container-order rounded-container">
        <!-- Thumbnail and tire details -->
        <div class="list-tire-details">
          <img src='{{ tire.tread.image_set.first.url }}' alt='tire image' class="thumbnail-image-small"/>
          <div>
            <h3 class="line-clamp-2"><a class="tire-btn" href="{% url 'tire_detail' tire.get_updated_tire.id %}">{{ tire.name }}</a></h3>
            <p><span class="cart-label">Size:</span> {{tire.width}}/{{tire.aspect_ratio}}{{tire.rim_size}}</p>
            <p><span class="cart-label">Type:</span> {{tire.tire_type}}</p>
            <p><span class="cart-label">Pattern:</span> {{tire.pattern}}</p>
            <p><span class="cart-label">Load/Speed:</span> {{tire.load_speed}}</p>
          </div>
        </div>
        <!-- Price and Quantity -->
        <div class="container-qty">
          <div class="container-tire-list-price-qty">
            <!-- Price -->
            <h2 class="tire-list-price">${{ tire.relevant_price }}</h2>
            <!-- Quantity and stock -->
            <div>
              <div class="tire-quantity-input-div">
                <span class="cart-label">Quantity</span>
                <input class="tire-quantity-input" type="number" value="1" min="1" name="quantity"/>
              </div>
              <div class="stock">
                {% if tire.product.current_quantity < 20 %}
                <p class="low-stock">
                  Limited stock
                </p>
                {% else %}
                <p class="in-stock">
                  In stock
                </p>
                {% endif %}
              </div>
            </div>
          </div>
          <!-- Add to cart' button -->
          <button class="add-to-order order-btn-filled" data-id="{{ tire.id }}" data-csrf="{{ csrf_token }}">
            <div class="pre-text">
              <i class="fas fa-cart-plus"></i>
              Add to cart
            </div>
            <div class="pre-text-done">
              <div class="post-text">
                <i class="fas fa-check"></i>
                Added
              </div>
            </div>
          </button>
        </div>
      </div>
    {% endfor %}
    <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% if page_obj.number %}
      <div class="container-pagination">
        <!-- 'Previous' button -->
        {% if page_obj.has_previous %}
            <a class="page-btn" href="?{% url_replace request 'page' '{{ page_obj.previous_page_number }}' %}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
            <a class="page-btn-inactive"><i class="fas fa-arrow-left"></i></a>
          {% endif %}
          <!-- First page -->
            <a href="?{% url_replace request 'page' '1' %}">
              {% if page_obj.number == 1 %}
                <a class="page-btn current-page-num" href="?{% url_replace request 'page' '1' %}">1</a>
              {% else %}
                <a class="page-btn" href="?{% url_replace request 'page' '1' %}">1</a>
              {% endif %}
            </a>
          {% if page_obj.number > 5 %}
            <span>...</span>
          {% endif %}
          {% if num == page_obj.number|add:'5' %}
            <span>...</span>
          {% endif %}
          <!-- Middle pages always display 7 pages at most -->
          {% for num in page_obj.paginator.page_range %}
            {% if num != 1 and num != page_obj.paginator.num_pages %}
              {% if page_obj.number == num %}
                <a class="page-btn current-page-num" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% elif num < 9 and num > page_obj.number|add:'-4' %}
                <a class="page-btn" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% elif num > page_obj.paginator.num_pages|add:'-8' and page_obj.number > page_obj.paginator.num_pages|add:'-5' %}
                <a class="page-btn" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                <a class="page-btn" href="?{% url_replace request 'page' num %}">{{ num }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
            <span>...</span>
          {% endif %}
          <!-- Last page -->
          {% if page_obj.paginator.num_pages != 1 %}
          <a class='page-num' href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">
            {% if page_obj.number == page_obj.paginator.num_pages %}
              <a class="page-btn current-page-num" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% else %}
              <a class="page-btn" href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
          </a>
          {% endif %}
          <!-- 'Next' button -->
          {% if page_obj.has_next %}
            <a class="page-btn" href="?{% url_replace request 'page' page_obj.next_page_number %}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
            <a class="page-btn-inactive"><i class="fas fa-arrow-right"></i></a>
          {% endif %}
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}