{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ tire.name }}</h2>
<p>By {{ tire.brand }}</p>
<h3>Price: ${{ tire.price }}</h3>
<div style="border: 1px dashed lightgray; margin: 1rem">
  <p>Year: {{ tire.year }}</p>
  <p>Width: {{ tire.width }}</p>
  <p>Aspect Ratio: {{ tire.aspect_ratio }}</p>
  <p>Rim Size: {{ tire.rim_size }}</p>
  <p>Type: {{ tire.type }}</p>
  <p>Pattern: {{ tire.pattern }}</p>
  <p>Speed: {{ tire.speed }}</p>
  <p>Current stock: {{ tire.current_quantity }}</p>
</div>

<div style="border: 1px dashed lightgray; margin: 1rem;">
  <form method="post" action="{% url 'tire_detail' tire.pk %}">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td><input type="submit" name="submit" value="🛒 Add to Cart" /></td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}