/* TYPOGRAPHY */

/* ACCOUNT PAGE  */

.title-account {
  /* text-align: center; */
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.account-btn {
  display: inline-block;
  color: var(--link-color-dark);
  font-weight: 600;
  margin: .5rem .75rem 0 .2rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.account-btn:hover,
.account-btn:focus {
  color: var(--link-color-hover);
  transition: all 0.2s ease;
}

/* LAYOUT */
.account-details {
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.account-label {
  width: 140px;
  text-align: right;
  float: left;
  margin-right: 16px;
  font-size: 1rem;
  opacity: 0.7;
}

/* Styles for the orders */
.container-account-order {
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: minmax(150px, .5fr) minmax(150px, .5fr) 1fr;
  grid-template-rows: 2.5em 16px minmax(70px, 1fr);
  margin-bottom: 1rem;
  padding: .75em;
  border-top: .08rem solid  var(--accent-color-shadow);
  border-bottom: .08rem solid  var(--accent-color-shadow);
  -webkit-box-shadow: 0px 0px 10px 0px var(--accent-color-shadow);
  box-shadow: 0px 0px 10px 0px var(--accent-color-shadow);
  border-radius: 8px;
}

.separator {
  border-top: 1px solid rgba(240, 240, 240, 0.5);
  border-bottom: 1px solid rgb(240, 240, 240);
  height: 0px;
  border-radius: 8px;
  grid-column-start: 1;  
  grid-column-end: span 5;
  justify-self: stretch;
}

.order-btn {
  padding: 1.2em 1.5em;
  border: 2px solid var(--main-text-dark);
  color:var(--link-color-hover);
  background: var(--main-bg-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 6px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-size: .7rem;
  color: var(--main-text-dark)
}

.order-btn:hover,
.order-btn:focus {
  background: rgba(250, 148, 53, 0.02);
  color: var(--link-color-hover);
  transition: all 0.2s ease;
  border: 2px solid var(--link-color-hover);
}

.order-btn-filled {
  padding: 1.2em 1.5em;
  color:white;
  background: var(--accent-color-bright);
  text-decoration: none;
  font-weight: 600;
  font-size: .8rem;
  border-radius: 6px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  margin-top: 1em;
  text-align: center;
  transform:scale(1.02);
}

.order-btn-filled:hover,
.order-btn-filled:focus {
  background: rgb(235, 138, 47);
  transition: all 0.2s ease;
  /* box-shadow: 0px 2px 0px rgb(168, 100, 36); */
  outline: none;
  transform: scale(1.02);
}

.order-btn-filled:focus {
	border-color: var(--accent-color-bright);
  box-shadow: 0 0 10px rgb(235, 138, 47, .6);
  transform:scale(1.02);
}

.container-num-status {
  justify-self: start;
}

.order-num, .order-status {
  text-align: start;
  margin: 0;
}

.container-account-order .order-status {
  font-size: 1em;
}

.order-num {
  text-decoration: none;
  color: var(--main-text-dark);
}

.order-label {
  font-size: .85rem;
  opacity: .75;
  letter-spacing: 2.1px;
  font-weight: 600;
  text-transform: uppercase;
}

.container-account-order .order-btn {
  justify-self: end;
  align-self: end;
}

.account-order-items {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.account-ordered-at {
  text-align: start;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.account-total {
  justify-self: start;
  text-align: start;
  display: flex;
  flex-direction: column;
}

/* WHEN SCREEN GETS SMALL */
@media (max-width: 900px){
  .account-label {
    width: 100px;
  }
}

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 600px) {
  .container-account-order {
    grid-template-columns: 1fr 1fr;
  }

  .account-total {
    display: none;
  }

  .container-num-status {
    grid-column-start: 3;
    justify-self: end;
    text-align: right;
  }

  .order-btn {
    padding: 1em 1em;
  }
}

/* The POPUP CONFIRMATION (background) */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-copy {
  background-color: var(--main-bg-color);
  margin: auto;
  padding: 1em;
  border: 1px solid var(--accent-color-shadow);
  max-width: 600px;
}

.popup-copy p {
  margin: .25rem;
}