
/* ACCOUNT and CART PAGE  */

/* TYPOGRAPHY */

/* ACCOUNT PAGE  */

.title-account {
  text-align: center;
  margin-bottom: 1rem;
}

.account-btn {
  display: inline;
  color: var(--link-color-dark);
  font-weight: 600;
  margin: 0 2rem 0 .2rem;
}

.cart-total .account-btn {
  margin: 1rem 0 0 .7rem;
}

.account-btn:hover,
.account-btn:focus {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.account-data {
  font-size: 1.25rem;
}

/* LAYOUT */
.container-main {
.fas {
  margin-right: .25rem;
}

.container-account {
  margin: 0 auto;
  width: 85%;
  max-width: 900px;
  margin-bottom: 1rem;
}

.container-account-info {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  padding: 1em 0;
  border-top: .17rem solid  var(--accent-color-shadow);
  border-bottom: .17rem solid var(--accent-color-shadow);
}

.account-details {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.account-label {
  width: 100px;
  text-align: right;
  float: left;
  margin-right: 15px;
  color: #333;
  font-size: .75rem;
}

.account-data {
  font-size: 1.25rem;
}

/* Styles for the orders */
.container-order {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: .75em;
  border-top: .08rem solid  var(--accent-color-shadow);
  border-bottom: .08rem solid  var(--accent-color-shadow);
  -webkit-box-shadow: 0px 0px 10px 0pxvar(--accent-color-shadow);
  box-shadow: 0px 0px 10px 0px var(--accent-color-shadow);
}

.order-btn {
  padding: .65em 2em;
  border: 1px solid var(--link-color-hover);
  color:var(--link-color-hover);
  font-weight: 600;
  font-size: 1.10rem;
  border-radius: .25rem;
}

.order-btn:hover,
.order-btn:focus {
  background: var(--link-color-hover);
  color: #ffffff;
}

.order-num {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.order-label {
  font-size: .75rem;
}

/* WHEN SCREEN GET SMALL */
@media (max-width: 900px){
  h2 {
    font-size: 1.5rem;
    margin:  .5rem 0 .05rem 0;
  }

  .container-account {
    text-align: center;
  }

  .container-account-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: .17rem solid  var(--accent-color-shadow);
  }
 
  .container-account-section {
    width: 300px; 
    text-align: center
  }
  
  .account-data {
    font-size: 1rem;
  }

  .container-order {
    flex-direction: column;
    justify-content: center;
  }

  .order-num {
    font-size: 1.75rem;
  }
  
  .order-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
  }

  .order-btn {
    font-size: .85rem;
  }
}

/* WHEN SCREEN GETS REALLY SMALL */
@media (max-width: 500px){
  .container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: .17rem solid  var(--accent-color-shadow);
  }
}

/* The Popup (background) */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-copy {
  background-color: var(--main-bg-color);
  margin: auto;
  padding: 1em;
  border: 1px solid var(--accent-color-shadow);
  max-width: 600px;
}

.popup-copy p {
  margin: .25rem;
}









