:root {
  --main-bg-color: rgb(251, 253, 255);
  --navbar-bg-color: white;
  --navbar-shadow-color: rgb(0, 0, 0, 0.03);
  --accent-color-main: rgb(228, 228, 228);
  --accent-color-bright: rgb(250, 148, 53);
  --accent-color-shadow:  rgb(0, 0, 0, 0.1);
  --accent-color-shadow-hover:  rgb(0, 0, 0, 0.2);
  --link-color-dark:  rgb(30, 38, 126);
  --link-color-hover: rgb(211, 121, 37);
  --main-text-dark:  #343d46;
  --footer-text-color: rgb(245, 245, 245);
  --form-focus-border: rgb(250, 148, 53);
  --form-focus-shadow: rgb(250, 148, 53, .5);
  --form-focus-bg: #ebebeb;
  --status-red: #e44e44;
  --status-green: #509553;
  --status-blue: #1b66bb;
  
  --rounded-border-radius: 8px;
}

html {
  font-size: 87.5%;
}

/* When screen gets larger than 850px */
@media screen and (min-width: 850px) {
  html {
    font-size: 100%;
  }
}

/* When screen gets < 400px */
@media screen and (max-width: 400px){
  html {
    font-size: 75%;
  }
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter;
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  color: var(--main-text-dark);
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: .25rem 0;
}

.fas {
  margin-right: .5rem;
}

.footer-title {
  font-weight: bold;
  letter-spacing: .5px;
}

.footer-year {
  font-style: italic;
}

/* LAYOUT */
main {
  padding-top: 5.3rem;
  min-height: calc(100vh - 130px);
}

/* The main container for page content */
.container-main {
  margin: 0 auto;
  /* width: 85%; */
  max-width: 900px;
  min-width: 300px;
  padding: 1rem;
}

/* Flex container to hold general information */
.container-info {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  border-top: 2px solid rgba(0, 0, 0, .1);
}

/* Additional styling to add to a container */
.rounded-container {
  background: var(--navbar-bg-color);
  border: none;
  border-radius: var(--rounded-border-radius);
  box-shadow: 0 2px 4px var(--accent-color-shadow), 0 8px 16px var(--accent-color-shadow);
  -webkit-box-shadow: 0 2px 4px var(--accent-color-shadow), 0 8px 16px var(--accent-color-shadow);
}

.container-qty {
  /* text-align: end; */
}

.order-detail-info {
  flex-direction: column;
  border-bottom: 2px solid rgb(0, 0, 0, .1);
}

footer a {
  text-decoration: none;
  color: var(--footer-text-color);
  transition: .15s ease;
}

footer a:hover {
  color: var(--accent-color-bright);
}

footer {
  text-align: center;
  padding: 1.5em 0;
  background-color: var(--link-color-dark);
  background-color: rgb(22, 29, 88);
  color: var(--footer-text-color);
  margin-top: auto;
}

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 760px){
  .container-info {
    flex-direction: column;
  }
}

/* Nav bar –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: .25rem 0 .25rem 1rem;
  background: var(--navbar-bg-color);
  box-shadow: 0 2px 4px var(--navbar-shadow-color), 0 8px 16px var(--navbar-shadow-color);
  display: flex;
}

nav {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 100%;
  right: 0;
  background: var(--navbar-bg-color);
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 150ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav .text-btn {
  margin: 1.3rem 0 1rem 2rem;
}

.nav-brand-link {
  color:var(--link-color-hover);
  text-decoration: none;
  margin-bottom: .5rem;
}

.nav-brand-image {
  height: 2rem;
  margin-top: .75rem;
  margin-left: 2.9rem;
}

.nav-brand-title {
  font-size: 1rem;
  letter-spacing: .03125rem; /* .5px at 16px base font-size */
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  letter-spacing: 2.1px;
}

/* Cart icon (when cart has items) –––––––––––––––––––––––––––––––––––––––––– */

.nav-cart-icon {
  font-size: 20px; 
  color: var(--link-color-dark);
  margin-top: 1.2rem;
  margin-left: 2rem;
  transition: all 0.2s ease;
}

.cart-badge {
  color: var(--link-color-dark);
  background-color: var(--accent-color-bright);
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  min-width: 22px;
  padding: 0px 4px;
  height: 22px;
  line-height: 18px;
  border-radius: 100px;
  position: absolute;
  margin-left: -10px;
  margin-top: 6px;
  border: 2px solid var(--navbar-bg-color);
  transition: all 0.2s ease;
}

/* Hover anywhere raises the badge */
.cart-link:hover .cart-badge {
  transform: translate(0, -5.5px);
}

/* Hover anywhere changes the cart icon color */
.cart-link:hover .nav-cart-icon {
  color: var(--link-color-hover);
}

@media (max-width: 850px) {
  .cart-badge {
    margin: 0;
    top: 3px;
    /* right: 16px; */
    left: 42px;
  }

  .nav-cart-icon {
    margin-right: 2rem;
  }

  nav .text-btn {
    margin: 1rem 1rem;
  }
}

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 400px){
  .cart-badge {
    top: 0px;
  }
}

/* WHEN SCREEN GETS REALLY REALLY SMALL */
@media screen and (max-width: 285px){
  .nav-brand-link {
    visibility: hidden;
  }
}

/* Nav bar hamburger menu and functionality ––––––––––––––––––––––––––––––––– */

.small-nav-container {
  /* position: absolute; */
  /* top: 0;
  right: 0; */
  /* margin-right: 1rem; */
  /* height: 100%; */
}

.nav-cart-icon-small {
  position: absolute;
  top: .7rem; /* 10px */
  right: 3rem;
  /* right: 0 */
  /* margin-top: 1rem; */
  /* margin-right: 2rem; */
  /* position: relative; */
  /* background-color: lightgray; */
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgb(var(--link-color-hover, .75));
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
  box-shadow: 0 2px 4px var(--navbar-shadow-color), 0 8px 16px var(--navbar-shadow-color);
}

@media screen and (min-width: 850px) {
  .nav-toggle:checked ~ nav {
    box-shadow: none;
  }
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--main-text-dark);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.hide-on-small {
  display: none;
}

/* When screen gets larger than 850px */
@media screen and (min-width: 850px) {
  /* main {
    padding-top: 5.96rem;
  } */

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr minmax(max-content, 300px) minmax(auto, 600px) 1fr;
    padding-left: 0;
  }

  .logo {
    grid-column: 2 / span 1;
    margin-left: 1em;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav a {
    opacity: 1;
    transition: all 0.2s ease;
  }

  /* .nav-brand-image {
    height: 30px;
  } */
  
  /* .nav-brand-title {
    font-size: 1rem;
  } */

  nav {
    padding-right: 1rem;
  }

  .nav-cart-icon-small {
    display: none;
  }

  .hide-on-small {
    display: inherit;
  }
}

/* tire-detail */
#add-tire input {
  width: 5rem;
}

#add-tire {
  margin-top: 1em;
}