/* CART AND ORDER DETAIL PAGES */

.tire-btn {
  color: var(--link-color-dark);
  text-decoration: none;
  transition: all .1s ease-in;
}

.tire-btn:hover,
.tire-btn:focus {
  color: var(--link-color-hover);
  transition: all .15s ease;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

  /* TYPOGRAPHY */
#qty-update label {
  display: none;
}
#qty-update input {
  max-width: 5.3rem;
  text-align: start;
  /* margin-top: .1em; */
}

.cart-label {
  font-weight: 600;
}

#submit-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* LAYOUT */
.container-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5rem 0;
  padding: 1rem;
}

#container-cart-items .container-order {
  margin: 0;
  padding: 1rem 1rem;
}

.container-item {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.container-cart-tire-info {
  display: flex;
  justify-content: flex-start;
  /* align-items: start; */
  margin-right: auto;
  text-align: start;
  align-items: center;
}

.container-cart-price {
  /* margin-left: 1rem; */
  min-width: 6rem;
}

.container-cart-subtotal {
  margin-left: 1rem;
  text-align: end;
  min-width: 8rem;
}

.shipping-info {
  margin-top: 1em;
}

#container-cart-address-total {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
}

#container-cart-address {
  margin-right: auto;
  /* padding: 1rem; */
}

.container-total {
  margin: 0 0 0 auto;
  min-width: 40%;
  /* padding: 1rem; */

  max-width: 50%;
}

.container-total-row {
  display: flex;
  justify-content: space-between;
  /* margin: .5rem 0; */
  margin-bottom: .25rem;
}

#cart-total-row {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

#cart-tax-row {
  margin-bottom: .5rem;
}

.container-cart-headers,
.container-cart-info {
  display: grid;
  grid-template-columns: minmax(48px, 3fr) minmax(48px, 2fr) minmax(16px, 1fr) minmax(32px, 2fr);
  width: 100%;
  column-gap: 1rem;
}

.container-cart-headers {
  margin-top: 1em;
}

.container-cart-qty {
  /* text-align: start; */
  /* min-width: 7rem; */
  margin-left: 1rem;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}


.justify-self-end {
  justify-self: end;
}

.update-cart-btn, .remove-item-btn {
  margin: 0 0 0 0;
}

.remove-item-btn {
  color: rgb(0, 0, 0, 0.3);
}

.fa-times {
  /* margin-left: .15625rem; */
  /* margin-right: .65625rem; */
  align-self: start;
  color: inherit;
}

.thumbnail-image-cart {
  border: 1px solid lightgray;
  margin-left: .5rem;
  width: 6rem;
  height: 6rem;
  border-radius: var(--rounded-border-radius);
}

.cart-item-header {
  margin-left: 1rem;
}

.container-cart-item-details {
  margin-left: 1rem;
}

.container-cart-item-details .cart-label {
  font-size: .875rem;
}

.container-cart-item-price-qty {
  display: flex;
  align-items: baseline;
  min-width: 40%;
  justify-content: space-between;
  margin-left: 1rem;
}

.container-cart-tire-info {
  /* margin: 0; */
  width: 100%;
}

.container-cart-item-price {
  margin-right: auto;
}

.item-detail-row {
  margin: 0;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* WHEN SCREEN GETS SMALL */
@media screen and (max-width:740px) {
  .container-order {
    /* flex-direction: column; */
    /* justify-content: center; */
    align-content: start;
    transition: all .3s ease;
  }

  .container-cart-tire-info, 
  .container-cart-price,
  .container-cart-subtotal {
    min-width: 0;
  }

  .container-cart-price {
    text-align: center;
  }

  .container-total {
    min-width: 50%;
  }
  
  .container-total-row {
    /* margin: .25rem 0; */
  }

  /* #container-cart-address-total {
    flex-direction: column;
  } */

  .container-cart-item-details {
    display: none;
  }

  /* .container-cart-item-price-qty {
    flex-direction: column;
  } */

  .container-cart-price {
    text-align: start;
  }

  .container-cart-subtotal {
    /* display: none; */
  }

  .container-cart-item-price-qty {
    /* display: none; */
    min-width: 50%;
  }

  .container-cart-item-qty {
    /* min-width: 50%; */
  }
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 500px) {
  #container-cart-address-total {
    flex-direction: column;
  }

  .container-total {
    margin-top: 1rem;
    min-width: 100%;
  }

  .container-cart-item-price-qty {
    /* flex-direction: column; */
  }

  .thumbnail-image-cart {
    width: 4rem;
    height: 4rem;
  }

  .container-cart-subtotal {
    display: none;
  }
}

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 330px) {
  .thumbnail-image-cart {
    display: none;
}