/* CART AND ORDER DETAIL PAGES */

.tire-btn {
  color: var(--link-color-dark);
  text-decoration: none;
  transition: all .1s ease-in;
}

.tire-btn:hover,
.tire-btn:focus {
  color: var(--link-color-hover);
  transition: all .1s ease-out;
}

  /* TYPOGRAPHY */
#qty-update label {
  display: none;
}
#qty-update input {
  width: 5.5rem;
  text-align: start;
  margin-top: .1em;
}

.cart-label {
  font-weight: 600;
}

#submit-btn {
  background: none!important;
  border: none;
  padding: 0!important;
}

/* LAYOUT */
.container-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5rem 0;
  padding: .75em;
  border-top: .08rem solid  var(--accent-color-shadow);
  border-bottom: .08rem solid  var(--accent-color-shadow);
  -webkit-box-shadow: 0px 0px 10px 0px var(--accent-color-shadow);
  box-shadow: 0px 0px 10px 0px var(--accent-color-shadow);
  border-radius: 8px;
}

.container-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}

.container-cart-tire-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: start;
}

.flex-end {
  justify-content: flex-end;
}

.cart-container-price {
  min-width: 60px;
}

.cart-container-subtotal {
  min-width: 100px;
}

.cart-container-price, .cart-container-subtotal {
  margin: .75em;
  text-align: end;
}

.shipping-info {
  margin-top: 1em;
}

.container-total {
  text-align: end;
  padding-right: .75em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.container-cart-headers,
.container-cart-info {
  display: grid;
  grid-template-columns: 1.75fr 1fr 1fr 1.5fr;
  width: 100%;
}

.container-cart-headers {
  margin-top: 1em;
}

.container-cart-qty {
  text-align: start;
  min-width: 110px;
}

.container-cart-qty .cart-label {
  margin-bottom: 100px;
}

.qty-col {
  justify-self: center;
}

.total-col {
  justify-self: end;
}

.cart-icon-text-btn {
  margin: .2rem 0 0 0;
}

.fa-times {
  margin-left: 2.5px;
  margin-right: 6.5px;
}

.thumbnail-image-cart {
  border: 1px solid lightgray; 
  margin-right: .75em;
  height: 120px;
  width: 120px;
  border-radius: 8px;
  align-self: start;
}

.container-qty-price {
  display: flex;
  align-items: baseline;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* WHEN SCREEN GETS SMALL */
@media screen and (max-width:740px){
  .container-order {
    flex-direction: column;
    justify-content: center;
    align-content: start;
    transition: all .3s ease;
  }
  
  .container-cart-tire-info, 
  .cart-container-price,
  .cart-container-subtotal {
    min-width: 0;
  }

  .cart-container-price {
    text-align: center;
  }
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 500px) {
  .container-cart-headers,
  .container-cart-info {  
    font-size: .65rem;
  }

  .container-order {
    font-size: 85%;
  }
}