/* CART AND ORDER DETAIL PAGES */

  /* TYPOGRAPHY */
#qty-update label {
  display: none;
}
#qty-update input {
  width: 5rem;
}

.cart-label {
  font-weight: 600;
}

#submit-btn {
  background: none!important;
  border: none;
  padding: 0!important;
}

.shop-btn {
  display: block;
  margin-right: 0;
}


/* LAYOUT */
.container-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5rem 0;
  padding: .75em;
  border-top: .08rem solid  var(--accent-color-shadow);
  border-bottom: .08rem solid  var(--accent-color-shadow);
  -webkit-box-shadow: 0px 0px 10px 0pxvar(--accent-color-shadow);
  box-shadow: 0px 0px 10px 0px var(--accent-color-shadow);
}

.container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-price {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.container-total {
  text-align: right;
  padding-right: .75em;
}

.container-cart-headers,
.container-cart-info {
  display: grid;
  grid-template-columns: 1.75fr 1fr 1fr 1.5fr;
  width: 100%;
}

.qty-col {
  justify-self: center;
}

.total-col {
  justify-self: end;
}

/* WHEN SCREEN GETS SMALL */
@media screen and (max-width:730px){
  .container-order {
    flex-direction: column;
    justify-content: center;
  }

  .container-item {
    flex-direction: column;
  }
}

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 500px) {
  .container-cart-headers,
  .container-cart-info {  
    font-size: .65rem;
  }
}