#contact-page .container-info {
  padding: 1rem;
}

.container-contact {
  width: 50%;
  padding-right: .5em;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  justify-content: space-between;
}

.container-contact-hours-address {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.container-contact-address {
  flex-basis: 50%;
}

.container-map {
  width: 50%;
}

.container-map iframe{
  left:0;
  top:0;
  height: 22rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 760px) {
  .container-map,
  .container-contact {
    width: 100%;
    padding-right: 0em;
  }

  .container-map {
    margin-top: 1rem;
  }

  #contact-page .container-order {
    flex-direction: column;
  }
}