/* TYPOGRAPHY */

.hero-intro-container {
  width: 85%;
}

.hero-intro {
  font-size: 1.125rem;
  margin-top: 1rem;
}

/* LAYOUT */
.container-home {
  height: 100%;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: var(--main-text-dark);
  padding: 2rem;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero-main {
  background: var(--accent-color-bright);
}

#hero-main .hero-title {
  font-size: 3.125rem;
}

#arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 3rem solid var(--accent-color-bright);
  position: absolute;
  bottom: -2.8rem; /* Needs to be slightly smaller than the border-top to hide the 1px gap */
  z-index: 1;
} 

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero-quality .hero-title {
  font-size: 2.5rem;
  color: white;
  margin: 1rem 0;
}

.parallax-window {
  min-height: 500px;
  height: 80vh;
  max-height: 700px;
  background: transparent;
}

#hero-quality .quality-tires {
  margin: 9rem 0 7rem;
  z-index: 10;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#hero-contact {
  background: var(--accent-color-bright);
  height: 25rem;
  color: var(--main-text-dark);
}

#hero-signup {
  background-color: white;
  color: var(--text-color-dark);
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#hero-signup .order-btn-filled {
  width: auto;
  margin: 0;
}

#hero-contact .hero-title,
#hero-signup .hero-title  {
  margin-bottom: 2.5rem;
}

#img-signup {
  height: 90%;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (min-width: 400px) { 
  #arrow-down {
    border-left: 12rem solid transparent;
    border-right: 12rem solid transparent;
  } 
}

@media screen and (min-width: 780px) { 
  .container-action {
    display: flex;
  }
}