/* TYPOGRAPHY */
a {
  display: inline-block;
}

#signup-form li {
  font-style: italic;
  font-size: .75rem;
}

#id_password2 ~ .helptext {
  display: none;
}

.confirmation-text {
  margin-bottom: 1rem;
}

/* LAYOUT */
.container-left {
  margin-top: .35rem;
  margin-right: 2rem;
}

.container-right {
  margin-top: 3rem;
  padding-bottom: .5em;
}

.container-right p {
  margin-bottom: .25rem;
}

.login-input {
  margin-bottom: 1rem;
}

@media screen and (min-width: 700px) {
  .container-right {
    margin-top: 0rem;
  }
}
