.tire-container-qty {
  min-width: 170px;
  display: inline-table;
  padding-left: 12px;
}

.tire-list-price {
  text-align: start;
}

.tire-quantity-input-div {
  /* font-size: 15px; */
  margin-top: .8em;
  text-align: start;
}

.tire-quantity-input {
  width: 70px;
  margin-bottom: .5em;
}

.add-to-order {
  /* color: linen; */
  /* display:inline-block; */
  /* justify-content:center; */
  /* align-items:center; */
  padding: 1em 0em;
  /* border-radius:6px; */
  border:none;
  font-size:1.5em;
  position: relative;
  /* background:rgb(250, 148, 53); */
  /* cursor:pointer; */
  height:1.5em;
  width: 7em;
  overflow: hidden;
  /* transition: transform 0.1s; */
  z-index:1;
  margin-top: .5em;
}

.add-to-order:hover {
  transform:scale(1.03);
  /* color: rgb(30, 38, 126); */
}

.thumbnail-image-small {
  border: 1px solid lightgray; 
  margin-right: 1em;
  height: 160px;
  width: 160px;
  border-radius: 8px
}

.list-tire-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.no-search-results {
  margin-top: 4em;
}