#tire-detail-page .container-info {
  padding: 1rem 0;
  align-items: center;
}

.tire-price {
  text-align: left;
  font-size: 2em;
}

.low-stock {
  text-align: left;
  color: var(--status-red)
}

.in-stock {
  text-align: left;
  color: var(--status-green)
}

.in-stock span {
  font-weight: bold;
}

#add-tire {
  text-align: start;
  margin-top: 1.5rem;
}

#add-tire input {
  width: 5rem;
}

#tire-detail-page .order-btn-filled {
  /* color: linen; */
  /* display:inline-block; */
  /* justify-content:center; */
  /* align-items:center; */
  /* padding:0.5em 1em 0.5em 1em; */
  /* border-radius:6px; */
  /* border:none; */
  /* font-size:1.5em; */
  position: relative;
  /* background:rgb(250, 148, 53); */
  /* cursor:pointer; */
  /* height:1.5em; */
  /* margin-top: 0.5em; */
  /* width:8em; */
  overflow: hidden;
  /* transition: transform 0.1s; */
  transition: all 0.2s ease;
  z-index: 1;
  width: 100%;
}

#tire-detail-page .order-btn-filled:hover {
  /* transform: scale(1.03); */
  /* color: rgb(30, 38, 126); */
}

.pre-text {
  pointer-events: none;
  color:inherit;
  background: none;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  letter-spacing: 2.1px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.fa-cart-plus {
  pointer-events: none;
  margin-right: .6rem;
}

.pre-text-done {
  background:rgba(30, 38, 126, 1);
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:transform 0.3s ease;
  transform:translate(-110%) skew(-40deg);
}

.post-text {
  font-size: 15px;
  background:rgba(30, 38, 126, 0);
  /* color: rgb(250, 148, 53); */
  letter-spacing: 2.1px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.fa-check {
  color: rgb(250, 148, 53);
}

.tire-detail-thumbnail-image {
  border: 1px solid lightgray; 
  margin-right: 1.2em;
  height: 17.5rem;
  width: 17.5rem;
  border-radius: 8px;
  transition: all .3s ease;
}

#id_quantity.input {
  width: 10px;
}

#add-tire label {
  font-weight: 600;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* WHEN SCREEN GETS SMALL */
@media screen and (max-width:760px){
  .tire-detail-thumbnail-image {
    height: 200px;
    width: 200px;
    transition: all .3s ease;
  }

  #tire-detail-page .container-info {
    padding: 1rem 0;
    align-items: initial;
  }

  #tire-detail-page .container-tire-list-price-qty {
    margin-top: 1rem;
  }

  .tire-price {
    align-self: center;
  }


  #add-tire {
    margin: 0;
  }

  #tire-detail-page .container-tire-list-price-qty {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

/* ──────────────────────────────────────────────────────────────────────────────── */

/* WHEN SCREEN GETS REALLY SMALL */
@media screen and (max-width: 500px) {
  .tire-detail-thumbnail-image {
    height: 175px;
    width: 175px;
    transition: all .3s ease;
  }
}