<div class="container-main">
<p>Thank you for placing your order. Your order will be reviewed and shipped shortly. Here is a summary of your order below:</p>
<h1>Order # {{ cart.ordershipping.pk }}</h1>
  <h3 style="font-weight: 800">Ordered: {{ cart.ordered_at }}</h3>
  <h4 style="font-weight: 800">Shipped to:</h4>
  <p>Company Name: {{ cart.ordershipping.company_name }}</p>
  <p>Address: {{ cart.ordershipping.address }}</p>
  {% if cart.ordershipping.address_2 %}
    <p>Address Line 2: {{ cart.ordershipping.address_2 }}</p>
  {% endif %}
  <p>City: {{ cart.ordershipping.city }}</p>
  <p>Province: {{ cart.ordershipping.province_iso }}</p>
  <p>Postal Code: {{ cart.ordershipping.postal_code }}</p>
  <hr style="width:70%;text-align:left;margin-left:0">
  <table style="border-collapse: collapse; width: 70%">
    <tr>
      <td style="font-weight: 800">Items</td>
      <td style="font-weight: 800">Quantity</td>
      <td style="font-weight: 800">Price</td>
      <td style="font-weight: 800">Total</td>
    </tr>
    {% for item in cart_details %}
      <tr>
        <td>{{ item.tire.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.price_each }}</td>
        <td>$ {{ item.get_subtotal }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Items ({{ cart.get_item_count }}):</td>
      <td>${{ cart.get_subtotal }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Discount ({{ cart.discount_percent_applied.normalize }}%):</td>
      <td>-${{ cart.get_discount_amount }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Tax ({{ cart.tax_percent_applied.normalize }}%):</td>
      <td>${{ cart.get_tax_amount }}</td>
    </tr>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>${{ cart.get_total }}</td>
      </tr>
    </tfoot>
  </table>
</div>
