<div class="container-main">
<p>Thank you for placing your order. A Road Star Tire staff member has been notified about your order and will be in touch regarding delivery details. If you need to contact us before then, please call +1-905-660-3209.</p>
<h1>Order #: {{ order.id }}</h1>
  <h3 style="font-weight: 800">Ordered: {{ order.ordered_at }}</h3>
  <h4 style="font-weight: 800">Shipped to:</h4>
  <p>Company Name: {{ user.company_name }}</p>
  <p>Address: {{ user.address }}</p>
  <p>City: {{ user.city }}</p>
  <p>Province: {{ user.province_iso }}</p>
  <p>Postal Code: {{ user.postal_code }}</p>
  <hr style="width:70%;text-align:left;margin-left:0">
  <table style="border-collapse: collapse; width: 70%">
    <tr>
      <td style="font-weight: 800">Items</td>
      <td style="font-weight: 800">Quantity</td>
      <td style="font-weight: 800">Price</td>
      <td style="font-weight: 800">Total</td>
    </tr>
    {% for item in order_detail %}
    <tr>
      <td>{{ item.tire.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>${{ item.price_each }}</td>
      <td>$ {{ item.get_subtotal }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
      <td><hr style="width:100%;text-align:left;margin-left:0"></td>
    </tr>
    <tr>
      
      <td></td>
      <td></td>
      <td>Sub-total: </td>
      <td>${{ order.get_subtotal }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Tax:</td>
      <td>$$$</td>
    </tr>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>${{ order.get_total }}</td>
      </tr>
    </tfoot>
  </table>
</div>
