.container-contact {
  width: 50%;
  padding-right: .5em;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}

.hours-address {
  display: flex;
  justify-content: space-between;
}

.container-map {
  width: 50%;
}

.container-map iframe{
  left:0;
  top:0;
  height: 350px;
  width:100%;
  position:relative;
  overflow:hidden;
}

@media screen and (max-width: 730px) {
  .container-map,
  .container-contact {
    width: 100%;
    padding-right: 0em;
  }
}